{% extends 'structure.html.twig' %}

{% block content %}
	{% for messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>Match</th>
					<th>Pronostic</th>
				</tr>
			</thead>
			<tbody>
				{% for prono in myPronos %}
					<tr>
						<td>{{ prono.contest.name }}</td>
						<td>{{ prono.score }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="form-signin">
			{{ form_start(form) }}
				{{ form_row(form.name) }}
				{{ form_row(form.results) }}
				<button type="submit" class="btn btn-primary btn-lg btn-block">Valider</button>
			{{ form_end(form) }}
		</div>
{% endblock %}