{% extends 'structure.html.twig' %}

{% block content %}
	{% for messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="form-signin">
		{{ form_start(form) }}
			{{ form_row(form.name) }}
			{{ form_row(form.results) }}
			<button type="submit" class="btn btn-primary btn-lg btn-block">Valider</button>
		{{ form_end(form) }}
	</div>
{% endblock %}